<div class="group-method">
<label for="r-distance-units"> Check distance in: </label>
  <br>
  <td align="left">
  <%= label_tag(:distance, "miles") %>
  <%= radio_button_tag(:distance, "m", checked="checked") %>
  <%= label_tag(:distance, "kilometers") %> 
  <%= radio_button_tag(:distance, "km") %>   
  </td> 
</div>